<?php /** @var \Core\View\ViewHelper $v */ ?>
<?php $v->extendsTemplate('/layout.phtml'); ?>

<?php $v->block('content'); ?>

    <div class="content">

        <div id="navigation-wrapper">
        <h1><?php echo $v->translate('contact_headline'); ?></h1>
        </div>

        <form action="/Handler/Contact" method="post">

            <input
                type="text"
                name="firstname"
                placeholder="<?php echo $v->translate('contact_form_firstname_placeholder'); ?>"
                value="<?php echo $v->getFormData('firstname'); ?>"
            >

            <input
                type="text"
                name="lastname"
                placeholder="<?php echo $v->translate('contact_form_lastname_placeholder'); ?>"
                value="<?php echo $v->getFormData('lastname'); ?>"
            >

            <hr class="no-padding-top" />

            <input
                type="text"
                name="email"
                class="<?php echo $v->hasFormError('email') ? 'field-error' : '' ?>"
                placeholder="<?php echo $v->translate('contact_form_email_placeholder'); ?>"
                value="<?php echo $v->getFormData('email'); ?>"
            >
            <?php echo $v->getFormError('email'); ?>

            <hr class="no-padding-top" />

            <textarea
                name="message"
                cols="20"
                rows="10"
                class="<?php echo $v->hasFormError('message') ? 'field-error' : '' ?>"
                placeholder="<?php echo $v->translate('contact_form_message_placeholder'); ?>"
            >
                <?php echo $v->getFormData('message'); ?>
            </textarea>
            <?php echo $v->getFormError('message'); ?>

            <hr class="no-padding-top" />

            <button id="submit"><?php echo $v->translate('contact_submit_btn'); ?></button>

            <input type="hidden" name="successUrl" value="<?php echo $v->url('contact_confirmation'); ?>">
            <input type="hidden" name="errorUrl" value="<?php echo $v->url('contact'); ?>">
            <input type="hidden" name="csrf" value="<?php echo $v->generateCsrfToken(); ?>">

        </form>

    </div>

<?php $v->block(); ?>

<?php $v->block('title'); ?>
    <?php echo $v->translate('contact_headline'); ?>
<?php $v->block(); ?>
