<?php
/**
 * @var \Core\View\ViewHelper $v
 * @var string $uri
 */
?>
<?php $v->extendsTemplate('/layout.phtml'); ?>

<?php $v->block('content'); ?>

<div class="content">

    <h1><?php echo $v->translate('contact_confirmation_headline'); ?></h1>

    <div class="success-box">
        <span><?php echo $v->translate('contact_confirmation_notice'); ?></span>
    </div>

    <hr class="padding-normal">

    <a href="<?php echo $v->url('home'); ?>"><?php echo $v->translate('link_to_homepage'); ?></a>

</div>

<?php $v->block(); ?>
