<?php
/**
 * @var \Core\View\ViewHelper $v
 * @var \Application\Model\Entity\Item $item
 * @var \Application\Model\Entity\Item $nextItem
 */
?>
<?php $v->extendsTemplate('/layout.phtml'); ?>

<?php $v->block('content'); ?>

<div class="content">

<?php

    if (!isset($previousItem)) {
        $previousItem = null;
    }

    echo $v->render('/content/line/item.phtml', ['item' => $item, 'nextItem' => $nextItem, 'previousItem' => $previousItem]);

?>

    <hr class="padding-normal">

    <div class="container width-100 footer">
        <div class="row">
            <div class="cell">
                <?php echo $v->translate('source_field'); ?>:
                <a
                    target="_blank"
                    id="distributor"
                    data-source-id="<?php echo $item->getSourceId(); ?>"
                    href="<?php echo $item->getSourceLink(); ?>"
                >
                    <strong><?php echo $item->getDistributor(); ?></strong>
                </a>

            </div>
            <div class="cell text-right">

                <?php $lang = \Core\Session\SessionStorage::instance()->get('lang'); ?>

                <?php if ($lang === 'ger_DE' || $lang === null): ?>
                    <?php echo (new \DateTime($item->getCreated()))->format('d.m.Y | H:i'); ?> Uhr
                <?php elseif ($lang === 'en_EN'): ?>
                    <?php echo (new \DateTime($item->getCreated()))->format('F, d Y | H:i'); ?>
                <?php endif; ?>

            </div>
        </div>
    </div>

</div>

<?php $v->block(); ?>

<?php $v->block('title'); ?>

    <?php echo $item->getTitle(); ?>

<?php $v->block(); ?>
