<?php
/**
 * @var \Core\View\ViewHelper $v
 * @var string $uri
 */
?>
<?php $v->extendsTemplate('/layout.phtml'); ?>

<?php $v->block('content'); ?>

    <div class="content">

        <div id="navigation-wrapper">
        <h1><?php echo $v->translate('abuse_headline'); ?></h1>
        </div>

        <div class="notice-box">
            <span><?php echo $v->translate('abuse_notice'); ?></span>
        </div>

        <form action="/Handler/Abuse" method="post">

            <hr class="padding-normal">

            <input
                type="text"
                name="uri"
                placeholder="<?php echo $v->translate('abuse_form_url_placeholder'); ?>"
                value="<?php echo $v->url('explore', [$uri], true); ?>"
                readonly="readonly"
            >
            <?php echo $v->getFormError('uri'); ?>

            <input
                type="text"
                name="email"
                placeholder="<?php echo $v->translate('abuse_form_email_placeholder'); ?>"
                class="<?php echo $v->hasFormError('email') ? 'field-error' : ''; ?>"
                autocomplete="off"
                value="<?php echo $v->getFormData('email'); ?>"
            >
            <?php echo $v->getFormError('email'); ?>

            <hr class="no-padding-top">

            <button id="submit"><?php echo $v->translate('abuse_submit_btn'); ?></button>

            <input type="hidden" name="successUrl" value="<?php echo $v->url('report_abuse_confirmation'); ?>">
            <input type="hidden" name="errorUrl" value="<?php echo $v->url('report_abuse', [$uri]); ?>">
            <input type="hidden" name="csrf" value="<?php echo $v->generateCsrfToken(); ?>">

        </form>

    </div>

<?php $v->block(); ?>

<?php $v->block('title'); ?>
<?php echo $v->translate('abuse_headline'); ?>
<?php $v->block(); ?>
