<?php /** @var \Core\View\ViewHelper $v */?>
<!DOCTYPE html>
<html lang="de">
    <head>
        <title><?php echo $v->renderBlock('title'); ?> | ngeil.de</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <?php echo $v->getAssets('css'); ?>
    </head>

    <body>

        <div class="menu">
            <div class="wrapper">

                <div class="container width-100 menu-desktop">
                    <div class="row">
                        <div class="cell width-20">
                            <a href="/"><span class="logo" <?php echo ((isset($totalCount) && $totalCount > 0) ? 'title="Serving ' . $totalCount . ' pictures' : ''); ?>">ngeil.de</span></a>
                        </div>
                        <div class="cell width-80">
                            <ul>
                                <?php if (isset($item)): ?>
                                <li>
                                    <a href="<?php echo $v->url('report_abuse', [$item->getUri()]); ?>">
                                        <?php echo $v->translate('abuse_link'); ?>
                                    </a>
                                </li>
                                <?php endif; ?>
                                <li>
                                    <a href="<?php echo $v->url('contact'); ?>">
                                        <?php echo $v->translate('contact_link'); ?>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#"><i class="fa fa-globe"></i></a>
                                    <ul>
                                        <?php $lang = \Core\Session\SessionStorage::instance()->get('lang'); ?>
                                        <?php if ($lang === 'ger_DE' || $lang === null): ?>
                                            <li><a href="<?php echo $v->url(null, ['lang=en_EN']); ?>">English</a></li>
                                        <?php else: ?>
                                            <li><a href="<?php echo $v->url(null, ['lang=ger_DE']); ?>">Deutsch</a></li>
                                        <?php endif; ?>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="container width-100 menu-mobile">
                    <div class="row">
                        <div class="cell width-20">
                            <a href="/"><span class="logo" <?php echo ((isset($totalCount) && $totalCount > 0) ? 'title="Serving ' . $totalCount . ' pictures' : ''); ?>">ngeil.de</span></a>
                        </div>
                        <div class="cell width-80 valign-middle">

                            <div class="icon"></div>

                            <div class="submenu">
                                <ul>
                                    <li><span class="header">Navigation</span>
                                        <?php if (isset($item)): ?>
                                    <li>
                                        <a href="<?php echo $v->url('report_abuse', [$item->getUri()]); ?>">
                                            <?php echo $v->translate('abuse_link'); ?>
                                        </a>
                                    </li>
                                    <?php endif; ?>
                                    <li>
                                        <a href="<?php echo $v->url('contact'); ?>">
                                            <?php echo $v->translate('contact_link'); ?>
                                        </a>
                                    </li>
                                    <li><span class="header">Sprache</span>
                                        <ul class="intended">
                                            <?php $lang = \Core\Session\SessionStorage::instance()->get('lang'); ?>
                                            <?php if ($lang === 'ger_DE' || $lang === null): ?>
                                                <li><a href="<?php echo $v->url(null, ['lang=en_EN']); ?>">English</a></li>
                                            <?php else: ?>
                                                <li><a href="<?php echo $v->url(null, ['lang=ger_DE']); ?>">Deutsch</a></li>
                                            <?php endif; ?>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="wrapper">
            <?php echo $v->renderBlock('content'); ?>
        </div>

        <div id="scroll-top"></div>

    <?php echo $v->getAssets('js'); ?>

    </body>
</html>