<?php /** @var \Application\Model\Entity\Item $item */ ?>
<?php $videoWidth = $metadata->width; ?>
<video <?php echo ($videoWidth > 580) ? 'class="zoom" ' : ''; ?>style="max-width: 580px;" autoplay="autoplay" loop="loop" preload="auto">
    <source src="<?php echo $item->getMedia(); ?>" type="video/mp4">
</video>