input,
select,
textarea {
    width:              100%;
    width:              calc(100% - 12px);
    padding:            10px 5px;
    background:         #303030;
    border:             1px solid #606060;
    font-family:        "Monda", serif;
    font-size:          1.2em;
    color:              #DDD;
    margin-bottom:      20px;
}

input:last-of-type {
    margin-bottom:      0;
}

input.field-error,
select.field-error,
textarea.field-error {
    border:             1px solid orangered;
    color:              orangered;
}

.form-error {
    margin-bottom:      20px;
}

.form-error:last-child {
    margin-bottom:      0;
}

.form-error span {
    display:            block;
    text-align:         left;
    margin-left:        0;
}

.form-error span:before {
    content:            "\f06a";
    font-family:        FontAwesome, serif;
    color:              orangered;
    margin-top:         1px;
    margin-right:       10px;
    float:              left;
    font-size:          1.3em;
    display:            inline-block;
}