/*
 * ngeil.de style definitions
 * @author Florian Knapp <office@florianknapp.de>
 */

html, body {
    width:              100%;
    height:             100%;
    margin:             0;
    background:         #202020;
}

/* -- Layout -------------------------------------------------------------------------------------------------------- */

.wrapper {
    width:              580px;
    margin:             0 auto;
}

.logo {
    font-family:        "Monda", serif;
    font-size:          0.8em;
    color:              yellowgreen;
    text-decoration:    none;
    vertical-align:     middle;
    text-transform:     uppercase;
    font-weight:        900;
    background:         #353535;
    padding:            5px 10px;
    display:            block;
    position:           absolute;
    text-align:         center;
    z-index:            101;
    top:                0;
    height:             50px;
    transition:         all 1s 0.5s;
}

.logo:before {
    font-family:        FontAwesome, serif !important;
    content:            '\f29b';
    font-weight:        400;
    width:              30px;
    height:             23px;
    font-size:          1.2em;
    border:             2px solid yellowgreen;
    border-radius:      100%;
    padding-top:        7px;
    color:              greenyellow;
    transition:         all 1s 0.5s;
    background:         #303030;
    display:            block;
    margin:             0 auto;
}

.logo:after {
    content:            "";
    width:              100%;
    background:         #353535;
    position:           absolute;
    height:             10px;
    bottom:             -5px;
    left:               0;
    border-radius:      100%;
    z-index: -1;
}

.logo:hover {
    color:              #353535;
    padding:            10px 10px;
    transition:         all 0.3s;
}

.logo:hover:before {
    color:              #FFFFFF;
    border-color:       #FFFFFF;
    transform:          scale(1.6) translateY(7px) rotateY(180deg);
    transition:         all 0.3s;
}

.menu-desktop {
    height:             50px;
}

.menu a {
    text-decoration:    none;
    color:              inherit;
}

.menu ul li a i {
    margin-top:         5px;
}

.menu {
    width:              100%;
    height:             50px;
    background:         #404040;
    display:            table;
}

.menu ul {
    margin:             0;
    padding:            0;
    list-style:         none;
    font-family:        "Monda", serif;
    font-size:          0.7em;
    text-transform:     uppercase;
    color:              #808080;
    display:            table;
    height:             100%;
    float:              right;
}

.menu li {
    position:           relative;
    border-right:       1px solid #505050;
    float:              left;
}

.menu ul li a {
    transition:         all 0.3s;
    display:            table-cell;
    vertical-align:     middle;
    height:             50px;
    padding:            0 10px;
    position:           relative;
    text-shadow:        0 1px 0 rgba(0,0,0,0.6);
}

.menu ul li a:hover {
    color:              #DDDDDD;
    background:         #303030;
}

.menu ul li.dropdown i {
    font-size:          1.5em;
    padding:            0;
}

.menu ul li.dropdown ul {
    display:            none;
    position:           absolute;
    background:         #303030;
    right:              0;
    z-index:            102;
    height:             25px;
}

.menu ul li.dropdown:hover ul {
    display:            block;
}

.menu ul li.dropdown ul li {
    padding:            0;
    border:             none;
}

.menu ul li.dropdown ul li a {
    font-size:          1.2em;
    display:            block;
    padding:            5px 5px;
    height:             auto;
}

.menu .menu-mobile {
    display:            none;
    height:             50px;
    width:              100%;
    float:              right;
}

.menu-mobile .icon {
    cursor:             pointer;
    width:              30px;
    height:             30px;
    float:              right;
}

.menu-mobile .icon:before {
    content:            '\f0c9';
    font-family:        FontAwesome, serif;
    font-size:          1.8em;
    margin-bottom:      -5px;
    color:              #DDDDDD;
    height:             50px;
}

.menu-mobile .submenu {
    position:           absolute;
    top:                50px;
    right:              0;
    z-index:            102;
    display:            none;
    background:         #303030;
    width:              50%;
}

.menu-mobile .submenu ul {
    width:              100%;
}

.menu-mobile .submenu li {
    float:              none;
    display:            block;
    border-bottom:      1px solid #606060;
    width:              100%;
    padding:            0;
}

.menu-mobile .submenu li:last-child {
    border-bottom:      none;
}

.menu-mobile .submenu a {
    display:            block;
    padding:            10px;
    height:             auto;
}

.menu-mobile .mobile-submenu a {
    font-size:          1.2em;
    text-transform:     none;
    text-align:         left;
}

.menu-mobile li span.header {
    display:            block;
    padding:            0 10px;
    background:         #505050;
    cursor:             default;
    float:              none;
}

.menu-mobile .submenu .intended {
    float:              none;
}

.menu-mobile .submenu .intended a {
    font-size:          1.4em;
    display:            block;
}

.content {
    font-family:        "Monda", sans-serif;
    font-size:          0.7em;
    font-weight:        400;
    color:              #CCCCCC;
    text-align:         center;
    background:         #202020;
    hyphens:            auto;
    padding-bottom:     20px;
}

.content a {
    color:              inherit;
}

.footer {
    text-transform:     uppercase;
    text-align:         left;
    height:             40px;
}

.error-box,
.notice-box,
.success-box {
    background:         #303030;
    padding:            10px;
    display:            table;
    width:              calc(100% - 22px);
    text-align:         left;
}

.error-box span,
.notice-box span,
.success-box span {
    display:            table-cell;
    vertical-align:     middle;
    padding-left:       15px;
    text-align:         left;
}

.error-box:before,
.notice-box:before,
.success-box:before {
    font-family:        FontAwesome, serif;
    display:            table-cell;
    vertical-align:     middle;
    font-size:          2em;
    border-right:       1px solid #404040;
    padding-right:      10px;
    height:             100%;
    text-align:         center;
}

.error-box:before {
    content:            "\f06a";
    color:              orangered;
}

.success-box:before {
    content:            '\f058';
    color:              yellowgreen;
}

.notice-box:before {
    content:            '\f071';
    color:              yellow;
}


/* -- Tables -------------------------------------------------------------------------------------------------------- */

.container {
    display:            table;
    position:           relative;
}

.row {
    display:            table-row;
}

.cell {
    display:            table-cell;
}

.container.width-100, .cell.width-100 {  width: 100%; }

.cell.width-90 { width: 90%; }

.cell.width-80 { width: 80%; }

.cell.width-20 { width: 20%; }

.cell.width-10 { width: 10%; }

.valign-middle {
    vertical-align:     middle;
}

/* -- Navigation ---------------------------------------------------------------------------------------------------- */

.nav-container {
    position:           absolute;
    top:                32px;
    right:              0;
    width:              50px;
}

.nav {
    color:              #AAA;
    font-size:          2em;
    padding:            10px;
    margin:             -10px;
}

.nav.left {
    float:              left;
    color:              #606060;
    margin-top:         -12px;
}

.nav.right {
    float:              right;
    color:              yellowgreen;
    margin-right:       -5px;
}

/* -- Modifier ------------------------------------------------------------------------------------------------------ */

.text-right {
    text-align:         right;
}

/* -- Elements ------------------------------------------------------------------------------------------------------ */

h1 {
    width:              100%;
    font-size:          1.8em;
    font-family:        "Roboto Condensed", sans-serif;
    color:              #AAA;
    text-align:         left;
    padding:            10px 0;
    text-shadow:        0 1px 0 rgba(0,0,0,0.3);
}

hr {
    border-top:         1px solid #606060;
    border-bottom:      none;
}

hr.no-padding-top {
    margin:             0 0 20px 0;
}

hr.padding-normal {
    margin:             20px 0;
}

/* -- Helper -------------------------------------------------------------------------------------------------------- */

#layer {
    position:           fixed;
    width:              100%;
    height:             100%;
    top:                0;
    left:               0;
    opacity:            0;
    background:         #000000;
    z-index:            100;
    animation:          layer 0.3s;
    animation-fill-mode: forwards;
}

#media-container {
    position:           absolute;
    width:              auto;
    height:             auto;
    top:                50px;
    left:               50%;
    border:             5px solid #FFFFFF;
    box-shadow:         0 5px 10px 3px rgba(0,0,0,1);
    z-index:            101;
    animation:          media-container 1s;
    animation-fill-mode: forwards;
}

button#additional,
button#submit {
    width:              100%;
    height:             50px;
    background:         #404040;
    border:             1px solid #606060;
    font-size:          1.1em;
    text-transform:     uppercase;
    color:              #FFFFFF;
    text-shadow:        0 1px 0 rgba(0,0,0,0.5);
    cursor:             pointer;
}

button#additional:active,
button#submit:active {
    background:         #606060;
    margin:             0;
    padding:            0;
}

button#additional .fa,
button#submit .fa {
    display:            inline-block;
    width:              24px;
}

.content,
.menu {
    transition:         all 0s;
}

.content.blur {
    filter:             blur(5px);
}

.blur img, .blur video { opacity: 0; }

.highlight { transition: all 1s; }

#scroll-top {
    position:           fixed;
    right:              10px;
    bottom:             10px;
    width:              50px;
    height:             50px;
    background:         #404040;
    text-align:         center;
    opacity:            0;
    transition:         all 0.3s;
    cursor:             pointer;
}

#scroll-top:before {
    content:            '\f077';
    font-family:        FontAwesome, serif;
    font-size:          2.5em;
    color:              yellowgreen;
}

#navigation-wrapper {
    padding-top:            15px;
    transition:         all 0.3s;
}

#navigation-wrapper-clone {
    position:           fixed;
    top:                0;
    width:              580px;
    z-index:            99;
    left:               50%;
    margin-left:        -290px;
    background:         #202020;
    font-size:          0.7em;
    opacity:            0.9;
}

#navigation-wrapper-clone h1 {
    margin-top:         8px;
}

#navigation-wrapper-clone .nav-container {
    top:                18px;
}

img.zoom,
video.zoom {
    cursor:             zoom-in;
}

img.zoom.out,
video.zoom.out {
    cursor:             zoom-out;
}

/* -- Animations ---------------------------------------------------------------------------------------------------- */

@keyframes layer {
    0% { opacity: 0; }
    100% { opacity: 0.1; }
}

@keyframes media-container {
    0% { opacity: 0; }
    100% {opacity: 1; }
}

/* -- Mobile specific ----------------------------------------------------------------------------------------------- */

@media (max-width: 640px) {

    .wrapper {
        width: 95%;
    }

    .content img,
    .content video {
        width: 98%;
    }

    #navigation-wrapper-clone {
        width: 95% !important;
        left: 0;
        margin-left: 2.5%;
    }

    .menu .menu-desktop {
        display: none;
    }

    .menu .menu-mobile {
        display: table;
    }

    body #media-container {
        width: 98% !important;
    }

    #media-container img {
        width: 100%;
    }

}