<?php /** @var \Core\View\ViewHelper $v */ ?>
<?php $v->extendsTemplate('/layout.phtml'); ?>

<?php $v->block('content'); ?>

<h1>WTF! 404! LOL!</h1>

<div class="content">
    <div class="error-box">
        <span><?php echo $v->translate('file_not_found'); ?></span>
    </div>
</div>

<?php $v->block(); ?>
