<?php
/**
 * @var \Application\Model\Entity\Item $item
 * @var \Application\Model\Entity\Item $nextItem
 * @var \Core\View\ViewHelper $v
 */
?>

<?php $metadata = json_decode($item->getMetadata()); ?>

<div id="navigation-wrapper" class="container width-100">
    <div class="row">
        <div class="cell width-80">
            <h1><?php echo $item->getTitle(); ?></h1>
        </div>
        <div class="cell width-20">

            <div class="nav-container">
                <?php if (!empty($previousItem)): ?>
                    <a class="nav left" href="<?php echo $v->url('explore', [$previousItem->getUri()]); ?>">
                        <i class="fa fa-angle-left"></i>
                    </a>
                <?php endif; ?>

                <?php if (!empty($nextItem)): ?>
                    <a class="nav right" href="<?php echo $v->url('explore', [$nextItem->getUri()]); ?>">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                <?php endif; ?>
            </div>

        </div>
    </div>
</div>

<hr class="no-padding-top">

<div id="media-wrapper">

    <?php switch ($metadata->mimetype):

        case 'image/gif':
        case 'image/png':
        case 'image/jpg':
        case 'image/jpeg':
            echo $v->render('/media/image.phtml', ['item' => $item, 'metadata' => $metadata]);
            break;
        case 'video/mp4':
            echo $v->render('/media/video.phtml', ['item' => $item, 'metadata' => $metadata]);
            break;
        default:
            echo $v->render('/media/not_supported.phtml', ['item' => $item, 'metadata' => $metadata]);
            break;

    endswitch; ?>

</div>

<?php if ($item->getIsGallery()): ?>

    <div id="additional-wrapper">
        <hr class="padding-normal">
        <button id="additional">
            <i class="fa fa-arrow-down"></i><i class="fa fa-spin fa-circle-o-notch" style="display: none;"></i>
            <?php echo $v->translate('additional_images_btn', $item->getImageCount() - 1); ?>
        </button>
    </div>

<?php endif; ?>



